# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author: 
Isaac Hudson

**Objectives**

- List popular data science languages
- list commonly used data science libraries
- list common data science tools
- show examples of evaluating arithmetic

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R 
    3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. ggplot2
4. Spark
5. Vegas

|Data Science Tools|
|---------------|
|MySQL|
|Apache Airflow|
|Pixie Dust|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60

timeunit = ' hours'

conversion = 200/60

print(str(conversion) + timeunit)

3.3333333333333335 hours